version: '3.8'

services:
  api:
    build: ./src
    command: node server.js
    ports:
      - "8080:8080" 
    environment:
      - REDIS_URL=redis://redis:6379
      - PG_HOST=db
      - PG_USER=admin
      - PG_PASSWORD=admin
      - PG_DB=analytics
    depends_on:
      - db
      - redis
  processor:
    build: ./src
    command: node processor.js
    environment:
      - REDIS_URL=redis://redis:6379
      - PG_HOST=db
      - PG_USER=admin
      - PG_PASSWORD=admin
      - PG_DB=analytics
    depends_on:
      - db
      - redis

  redis:
    image: redis:6-alpine
    ports:
      - "6379:6379" 
  db:
    image: postgres:14-alpine
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=analytics
    ports:
      - "5432:5432" 
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: